{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "eol-last": 0,
    "no-mixed-requires": 0,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-trailing-spaces": 0,
    "no-unused-vars": 1,
    "strict": 0
  },
  "settings": {
    "ecmascript": 6
  }
}